@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f5f5f5;
  --foreground: #171717;
  --primary: #dfd0b8;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --color-txt: var(--txt);
  --color-txt-secondary: var(--txt-secondary);

  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --background-secondary: #1f1f1f;
    --foreground: #ededed;

    --txt: #ededed;
    --txt-secondary: #a1a1a1;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.layout {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}
